*{
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
    color:white;
    margin:0;
}

/* HEADER */
.header{
    display:flex;
    justify-content:space-between;
    padding:15px 30px;
    background:#111;
}

.header a{
    color:#aaa;
    text-decoration:none;
}

/* HERO */
.hero{
    text-align:center;
    padding:40px 20px;
}

input{
    padding:12px;
    width:90%;
    max-width:320px;
    border-radius:30px;
    border:none;
}

button{
    padding:10px 20px;
    border:none;
    border-radius:30px;
    background:#1db954;
    color:white;
}

/* SECTION */
.section{
    padding:20px;
}

/* GRID */
.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:15px;
}

/* CARD */
.card{
    background:#1c1c1c;
    padding:10px;
    border-radius:10px;
}

/* IMAGE */
.cover{
    width:100%;
    height:150px;
    object-fit:cover;
}

/* POPULAR */
.popular-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
    gap:10px;
}

.mini-card{
    background:#1c1c1c;
    padding:10px;
    text-align:center;
    border-radius:10px;
}

/* MOBILE */
@media(max-width:768px){

    .header{
        flex-direction:column;
        text-align:center;
    }

    .grid{
        grid-template-columns:1fr;
    }

    .popular-grid{
        grid-template-columns:1fr 1fr;
    }
}
