<!DOCTYPE html>
<html>
<head>
<title>Music Recommender 🎵</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="header">
<h1>🎧 Music Recommender</h1>
<a href="/logout">Logout</a>
</div>

<div class="hero">
<h2>Discover Music You Love 🎶</h2>

<form method="POST">
<input id="songInput" name="song" placeholder="Search song..." required>
<button>Recommend</button>
</form>
</div>

<div class="section">
<h2>🔥 Popular Songs</h2>
<div class="popular-grid">
{% for s in top_songs %}
<div class="mini-card">{{ s }}</div>
{% endfor %}
</div>
</div>

{% if recommendations %}
<div class="section">
<h2>✨ Recommended Songs</h2>

<div class="grid">
{% for song in recommendations %}
<div class="card">

<img src="{{ song.image }}" class="cover">

<h3>{{ song.name }}</h3>
<p>{{ song.artist }}</p>

</div>
{% endfor %}
</div>

</div>
{% endif %}

<footer>
<p>Made by Swaliha 💖</p>
</footer>

</body>
</html>
