<!DOCTYPE html>
<html>
<head>
<title>Music AI</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="sidebar">
<h2>🎧 Music AI</h2>

<button onclick="toggleMode()">🌙 Mode</button>

<a href="/">Home</a>
<a href="/logout">Logout</a>
</div>

<div class="main">

<form method="POST" class="search-bar">
<input name="song" placeholder="Search song..." required>
<button>Search</button>
<button type="button" onclick="startVoice()">🎤</button>
</form>

<h2>Recommended</h2>
<div class="row">
{% for s in recs %}
<div class="card">
<img src="{{s.image}}">
<h4>{{s.name}}</h4>

<button onclick="play('{{s.name}}','{{s.preview}}','{{s.artist}}')">▶</button>
<button onclick="likeSong('{{s.name}}')">❤️</button>
<button onclick="addToPlaylist('{{s.name}}','{{s.preview}}','{{s.artist}}')">➕</button>
</div>
{% endfor %}
</div>

<h2>History</h2>
<div class="row">
{% for s in history %}
<div class="card" onclick="play('{{s.name}}','{{s.preview}}','{{s.artist}}')">
<img src="{{s.image}}">
<h4>{{s.name}}</h4>
</div>
{% endfor %}
</div>

<!-- CHATBOT -->
<div class="chat">
<input id="chatInput">
<button onclick="sendMessage()">Ask</button>
<div id="chatBox"></div>
</div>

</div>

<div class="player">
<p id="now"></p>
<audio id="audio" controls></audio>
</div>

<script src="/static/script.js"></script>

</body>
</html>
