<!DOCTYPE html>
<html>
<head>
<title>Register 🎧</title>

<style>
body{
    background:#0f2027;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    color:white;
    font-family:Arial;
}

.box{
    background:#1c1c1c;
    padding:30px;
    border-radius:10px;
    width:250px;
    text-align:center;
}

input{
    width:100%;
    padding:10px;
    margin:10px 0;
    border:none;
    border-radius:5px;
}

button{
    width:100%;
    padding:10px;
    background:#1db954;
    border:none;
    color:white;
}
</style>
</head>

<body>

<div class="box">
<h2>Register</h2>

<form method="POST">
<input type="text" name="username" placeholder="Username" required>
<input type="password" name="password" placeholder="Password" required>
<button>Register</button>
</form>

{% if msg %}
<p style="color:lightgreen;">{{ msg }}</p>
{% endif %}

<p>Already have account? <a href="/login">Login</a></p>

</div>

</body>
</html>
